<div class="row" >

  <div *ngFor="let recipe of recipes" class="recipeBlock border">
    <div> {{recipe.name}} .... succès : {{recipe.chanceOfSucces}} %</div>

    <div *ngIf="recipe.ingredientsRequired.length > 0">Ingredients requis :
      <ul>
        <li *ngFor="let ingredient of recipe.ingredientsRequired">
          {{ingredient.ingredientQuantity}} : {{ingredient.ingredientName}}
        </li>
      </ul>
    </div>
    <div>Récompenses :
      <ul>
        <li *ngFor="let ingredient of recipe.lootIngredient">
          {{ingredient.ingredientQuantity}} : {{ingredient.ingredientName}}
        </li>
      </ul>
    </div>
    <div>
      Niveaux conseillés :
      <ul>
        <li> Créativité : {{recipe.creativityRequired}}</li>
        <li> Dextérité : {{recipe.dexterityRequired}}</li>
        <li> Force : {{recipe.strengthRequired}}</li>
      </ul>
    </div>


    <button [disabled]="!recipe.doable" (click)="doRecipe(recipe.idRecipe)">Faire la recette</button>
  </div>

</div>
