body {
  background-color: darkslategrey;
  color: mediumspringgreen;
}

.title {
  color: lime;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.grow-9 {
  flex-grow: 9;
  flex-basis: 75%;
}

.grow-3 {
  flex-grow: 3;
  flex-basis: 25%;
}

.grow-6 {
  flex-grow: 6;
  flex-basis: 50%;
}
.heigh-fixed{
  height: 25vh;
}

.blockIngredient {
  padding: 5px;
  border: solid #009688;
  margin: 5px;
}

.border{
  padding: 5px;
  border: solid #009688;
  margin: 5px;
}
.popup{
  text-align: center;
  background-color: lightslategrey;
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
}

.recipeBlock {

  min-height: 300px;
  min-width: 250px;
}

